{% extends "base.html" %}

{% block content %}
<section class="hero">
    <div class="container">
        <div class="hero-content">
            <h1>Добро пожаловать в отель "Престиж"</h1>
            <p>Роскошный отдых в Минске</p>
            <a href="{{ url_for('booking_start') }}" class="btn">Забронировать номер</a>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="features-grid">
            <div class="feature-card">
                <div class="feature-icon">🏨</div>
                <h3>Комфортабельные номера</h3>
                <p>Просторные номера с современным дизайном</p>
            </div>
            <div class="feature-card">
                <div class="feature-icon">🍽️</div>
                <h3>Ресторан</h3>
                <p>Блюда от нашего шеф-повара</p>
            </div>
            <div class="feature-card">
                <div class="feature-icon">🏊</div>
                <h3>СПА-центр</h3>
                <p>Бассейн и комплекс оздоровительных процедур.</p>
            </div>
            <div class="feature-card">
                <div class="feature-icon">🍷</div>
                <h3>Бар для посетителей</h3>
                <p>Праздники. Корпоративы.</p>
            </div>
            <div class="feature-card">
                <div class="feature-icon">🚗</div>
                <h3>Парковка</h3>
                <p>Парковка для посетителей и не только</p>
            </div>
            <div class="feature-card">
                <div class="feature-icon">😸</div>
                <h3>Кот</h3>
                <p>Обиатет на территории коплекса. Эффективный менеджер по всем вопросам</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}